# Cloudflare Tunnel Secret
# Get token from: Cloudflare Zero Trust > Access > Tunnels > Create Tunnel
#
# To create:
#   kubectl create secret generic cloudflare-tunnel \
#     --namespace pai-blog \
#     --from-literal=token=YOUR_TUNNEL_TOKEN
#
# Or apply this file after filling in the token:
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel
  namespace: pai-blog
type: Opaque
stringData:
  token: "YOUR_CLOUDFLARE_TUNNEL_TOKEN"
